#
# For VirtualBox VMs to TOR connections
#
firewall_enable="YES"
firewall_type="open"
vbox_tor_ifaces="tap0 tap1 tap2"
vbox_to_tor_enable="YES"
vbox_to_tor_ifaces="${vbox_tor_ifaces}"
tiny_dhcp_server_enable="YES"
tiny_dhcp_server_ifaces="${vbox_tor_ifaces}"
