#!/bin/sh

#
# Simple configuration file:
# * connects one virtual machine (tap0) to TOR
#

# add this line to /etc/rc.conf:
# . /usr/local/etc/rc.conf.simple

firewall_enable="YES"
firewall_type="open"
vm_to_tor_enable="YES"
